{% extends 'base.html.twig' %}

{% block title %}Films index{% endblock %}

{% block body %}
    <h1>Films index</h1>
    <div class="col-md-12 form-it">
        <label>Movie name</label>
        <form class="form-style-1" method="post" action="/films/testapii">
            <input name="search" type="text" id="search" placeholder="Enter keywords" >
            <input class="submit" type="submit" value="submit">
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>IdFilm</th>
            <th>IdCategorie</th>
            <th>Language</th>
            <th>NomFilm</th>
            <th>DureeFilm</th>
            <th>Image</th>
            <th>Description</th>
            <th>Utube</th>
            <th>Rated</th>
            <th>Date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <form method="post" action="/films/addapi">
            <tr>
                <td>{{ film.idFilm }}</td>
                <input type="hidden"  name="id" value="{{ film.idFilm }}" >
                <td>
                    {% for categoriefilm in CategorieFilms %}
                        {% if (film.idCategorie==categoriefilm.idCategorie) %}
                            {{ categoriefilm.nomCategorie }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ film.language }}</td>
                <input type="hidden"  name="lang" value="{{ film.language }}" >
                <td>{{ film.nomFilm }}</td>
                <input type="hidden"  name="name" value="{{ film.nomFilm }}" >
                <td>{{ film.dureeFilm }}</td>
                <input type="hidden"  name="duree" value="{{ film.dureeFilm }}" >

                <td> <img width="150" height="200" src="{{ film.getImage() }} " alt=""></td>
                <input type="hidden"  name="image" value="{{ film.getImage() }}" >


                <td>{{ film.description }}</td>
                <input type="hidden"  name="desc" value="{{ film.description }}" >
                <td>{{ film.utube }}</td>
                <input type="hidden"  name="utube" value="{{ film.utube }}" >
                <td>{{ film.rated }}</td>
                <input type="hidden"  name="rated" value="{{ film.rated }}" >
                <td>{{ film.date ? film.date|date('Y-m-d') : '' }}</td>
                <input type="hidden"  name="date" value="{{ film.date ? film.date|date('Y-m-d') : '' }}" >
                <td>
                    <h6><input type="submit" >create new></h6>

                </td>
            </tr>
            </form>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 <!--
{% endblock %}
