{% extends 'basefront.html.twig' %}

{% block body %}
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> movie listing - grid</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="topbar-filter">
                        <p>Found <span>1,608 movies</span> in total</p>



                        <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                        <a  href="moviegrid.html" class="grid"><i class="ion-grid active"></i></a>
                    </div>
                    <div class="flex-wrap-movielist">
                        {% for film in films %}
                        <div class="movie-item-style-2 movie-item-style-1">
                            <img width="500" height="600" src="{{ film.getImage() }}" alt="">


                            <div class="hvr-inner">
                                <a  href="{{ path('showmovi', {'idFilm': film.idFilm}) }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                <input type="hidden" name="id" value="{{ film.idFilm }}">
                            </div>
                            <div class="mv-item-infor">
                                <h6><a href="{{ path('showmovi', {'idFilm': film.idFilm}) }}">{{film.nomFilm }}</a></h6>
                                <p class="rate"><i class="ion-android-star"></i><span>{{film.rated }}</span> /10</p>
                            </div>
                        </div>
                        {% endfor %}

















                    </div>

                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="searh-form">
                            <h4 class="sb-title">Search for movie</h4>
                            <form class="form-style-1" method="post" action="/films/ssearch">
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <label>Movie name</label>
                                        <input name="search" type="text" id="search" placeholder="Enter keywords">
                                    </div>




                                    <div class="col-md-12 form-it">
                                        <label>Genres & Subgenres</label>
                                        <div class="group-ip">
                                            <select  name="cat" multiple="" class="ui fluid dropdown">

                                                {% for categoriefilm in CategorieFilms %}
                                                <option value="{{categoriefilm.getidCategorie() }}">{{categoriefilm.getNomCategorie() }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-12 ">
                                        <input class="submit" type="submit" value="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="ads">
                            <img src="images/uploads/ads1.png" alt="">
                        </div>
                        <div class="sb-facebook sb-it">
                            <h4 class="sb-title">Find us on Facebook</h4>
                            <iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"  height="315" style="width:100%;border:none;overflow:hidden" ></iframe>
                        </div>
                        <div class="sb-twitter sb-it">
                            <h4 class="sb-title">Tweet to us</h4>
                            <div class="slick-tw">
                                <div class="tweet item" id=""><!-- Put your twiter id here -->
                                </div>
                                <div class="tweet item" id=""><!-- Put your 2nd twiter account id here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}