{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdAvis</th>
                <th>IdProduit</th>
                <th>TypeAvis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.idAvis }}</td>
                <td>{{ avi.idProduit }}</td>
                <td>{{ avi.typeAvis }}</td>
                <td>
                    <a href="{{ path('avis_show', {'idAvis': avi.idAvis}) }}">show</a>
                    <a href="{{ path('avis_edit', {'idAvis': avi.idAvis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('avis_new') }}">Create new</a>
{% endblock %}
