{% extends 'base.html.twig' %}

{% block title %}Planning index{% endblock %}

{% block body %}
    <h1>Planning index</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>IdFilm</th>
                <th>IdSalle</th>

                <th>ProjectionTime</th>
                <th>Places</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>

                <td>{{ planning.idFilm }}</td>
                <td>{{ planning.idSalle }}</td>

                <td>{{ planning.projectionTime }}</td>
                <td>{{ planning.places }}</td>
                <td>{{ planning.date ? planning.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('planning_show', {'idPlanning': planning.idPlanning}) }}">show</a>
                    <a href="{{ path('planning_edit', {'idPlanning': planning.idPlanning}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('planning_new') }}">Create new</a>
{% endblock %}
