{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th>First name</th>
                <td>{{ user.fname }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ user.lname }}</td>
            </tr>
            <tr>
                <th>Id card</th>
                <td>{{ user.idcard }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Blocked</th>
                {% if user.blocked==1 %}
                  <td>Yes</td>
                {% else %}
                <td>No</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users_index') }}">back to list</a>

    <a href="{{ path('users_edit', {'idUser': user.idUser}) }}">edit</a>
    {{ include('users/block.html.twig') }}
    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
