{% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <h1>Salle</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ salle.name }}</td>
            </tr>
            <tr>
                <th>Governorate</th>
                <td>{{ salle.governorate }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ salle.adress }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('salle_index') }}">back to list</a>

    <a href="{{ path('salle_edit', {'idSalle': salle.idSalle}) }}">edit</a>

    {{ include('salle/_delete_form.html.twig') }}
{% endblock %}
