{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}

    <h1>Create new Evenement</h1>
    {{ form_start(form) }}
    id
    {{ form_widget(form.idCatEvenement) }}
    idUser
    {{ form_widget(form.idUser) }}
    nomEv
    {{ form_widget(form.nomEvenement) }}
    date
    <br>
    <input type="date" id="{{ form.dateEvenement.vars.id }}" name="{{ form.dateEvenement.vars.full_name }}">

    {% do form.dateEvenement.setRendered %}
    <br>
    duree
    {{ form_widget(form.dureeEvenement)}}
    imageEvnement
    <input type="file" id="{{ form.imageEvnement.vars.id }}" name="{{ form.imageEvnement.vars.full_name }}"
           accept="image/png, image/jpeg, image/jpg">

    {% do form.imageEvnement.setRendered %}
    desc
    {{ form_widget(form.description) }}
    validate
    {{ form_widget(form.validate) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('evenement_index') }}">back to list</a>
{% endblock %}

