{{ form_start(form,{'attr':{'novalidate':'novalidate'}})}}

<div class="form-group">
    <label>NomCategorie: </label>
    {{ form_widget(form.nomCategorie,{'attr':{'class':'form-control'}}) }}
    <div class="alert alert-danger">
        {{ form_errors(form.nomCategorie) }}

    </div>
</div>

{{ form_widget(form.nomCategorie,{'attr':{'class':'form-control'}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
