{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdOffre</th>
                <th>IdUser</th>
                <th>Offreimgpath</th>
                <th>Date</th>
                <th>Description</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.idOffre }}</td>
                <td>{{ offre.idUser }}</td>
                <td>{{ offre.offreimgpath }}</td>
                <td>{{ offre.date ? offre.date|date('Y-m-d') : '' }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.titre }}</td>
                <td>
                    <a href="{{ path('listeoffer_show', {'idOffre': offre.idOffre}) }}">show</a>
                    <a href="{{ path('listeoffer_edit', {'idOffre': offre.idOffre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('listeoffer_new') }}">Create new</a>
{% endblock %}
