{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>
    {{ form_start(form) }}
    Event
    <br>
    <select  id="{{ form.idEvenement.vars.id }}" name="{{ form.idEvenement.vars.full_name }}">
        {%  for evenement in evenements %}
            <option value="{{ evenement.idEvenement }}">
                {{evenement.nomEvenement}}
            </option>
        {% endfor %}
    </select>
    {% do form.idEvenement.setRendered %}
    <br>
    <br>
    Title
    {{ form_widget(form.titre) }}
    <br>
    content
    {{ form_widget(form.contenu) }}

    <a href="{{ path('article_index') }}">back to list</a>

    <button class="btn">{{ button_label|default('Update') }}</button>


    {{ form_end(form) }}

{% endblock %}
