{% extends 'base.html.twig' %}

{% block title %} {% trans %}Item index{% endtrans %}{% endblock %}

{% block body %}



    <h1>{% trans %}Article index{% endtrans %}</h1>




    {{ form_start(form) }}

    <div class="form-row align-items-end" >
        <div class="col">
            {{ form_row(form.nom) }}
        </div>

        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-success">{% trans %}Reaserch{% endtrans %}</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}





    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}IdItem{% endtrans %}</th>
            <th>{% trans %}IdEvent{% endtrans %}</th>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Content{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.idArticle }}</td>
                <td>{{ article.idEvenement }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu }}</td>
                <td>
                    <a href="{{ path('article_show', {'idArticle': article.idArticle}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('article_edit', {'idArticle': article.idArticle}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
