{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>
<div class="table-responsive">
    <script src="{{ asset('admin/jquery.min.js') }}"></script>
    <input type="text" id="search" class="form-control form-control-no-border mr-sm-2" placeholder="chercher produit">
    <label class="ml-shopbar__filterLabel" for="ml-shopbar__select1"></label>
    <form method="post" action="{{ path('tri') }}" align="right">
        <label>
            <select name="tri">
                <option value="">veuillez Choisir</option>
                <option value="nom">Nom</option>
                <option value="prix">prix</option>
                <option value="couleur">couleur</option>

            </select>
        </label>
        <input type="submit" class="btn btn-primary btn-bottom" value="Trier" />


    </form>
    <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

        <thead>
            <tr>
                <th>IdProduit</th>
                <th>IdCategorie</th>
                <th>Couleur</th>
                <th>NomProduit</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.idProduit }}</td>
                <td>{{ produit.idCategorie }}</td>
                <td>{{ produit.couleur }}</td>
                <td>{{ produit.nomProduit }}</td>
                <td>{{ produit.prix }}</td>
                <td><img style="height: 100px; width: 100px" src="{{ asset('images/produit/'~produit.image) }}" ></td>
                <td>{{ produit.description }}</td>
                <td>
                    <a href="{{ path('produit_show', {'idProduit': produit.idProduit}) }}">show</a>
                    <a href="{{ path('produit_edit', {'idProduit': produit.idProduit}) }}">edit</a>
                </td>
            </tr>
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
