{% extends 'basefront.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}

    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> Offre List </h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span> Offre List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="topbar-filter fw">
                        <p>Found <span>{{ size}} offres</span> in total</p>
                        <label>Sort by:</label>
                        <select>
                            <option value="popularity">Popularity Descending</option>
                            <option value="popularity">Popularity Ascending</option>
                            <option value="rating">Rating Descending</option>
                            <option value="rating">Rating Ascending</option>
                            <option value="date">Release date Descending</option>
                            <option value="date">Release date Ascending</option>
                        </select>
                        <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                        <a  href="moviegridfw.html" class="grid"><i class="ion-grid active"></i></a>
                    </div>
                    <div class="flex-wrap-movielist mv-grid-fw">
                        {% for i in offres %}
                            <div class="movie-item-style-2 movie-item-style-1">
                                <img src="\images\offre\{{ i.offreimgpath }}" alt="">
                                <div class="hvr-inner">
                                    <a  href="{{ path('realisateuroffre_show',{'idOffre': i.idOffre}) }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                </div>
                                <div class="mv-item-infor">
                                    <h6><a href="#">{{ i.titre }}</a></h6>
                                    <p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        <a href="{{ path('realisateuroffre_new')}}" class="redbtn">Ajouter offre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
