{% extends 'basefront.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdOffre</th>
                <td>{{ offre.idOffre }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ offre.idUser }}</td>
            </tr>
            <tr>
                <th>Offreimgpath</th>
                <td>{{ offre.offreimgpath }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ offre.date ? offre.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre.titre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('realisateuroffre_index') }}">back to list</a>

    <a href="{{ path('realisateuroffre_edit', {'idOffre': offre.idOffre}) }}">edit</a>

    {{ include('realisateuroffre/_delete_form.html.twig') }}
{% endblock %}
